Source: hildon-input-meta
Section: misc
Priority: optional
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: hildon-input-meta
Architecture: all
Depends: ${shlibs:Depends},
 libimengines4,
 hildon-im-fkb,
 hildon-im-plugin-base-settings,
 hildon-input-method-configurator,
 hildon-input-method,
 hildon-im-keyboard-assistant,
 hildon-im-keyboard-assistant-scv,
 libhildon-im-vkbrenderer3,
 osso-applet-textinput,
 osso-applet-textinput-l10n-mr0,
 hildon-im-common-virtual-settings,
 libimengines-plugins-western,
Description: Metapackage for installing hildon input method and its dependencies.
